@mixin generate-edit-form-styles {
  .EditFormBase--field--flex-end {
    display: flex;
    justify-content: flex-end;
  }

  .EditFormBase--field--flex-end {
    display: flex;
    justify-content: center;
  }

  .EditForm {
    width: getEditFormInSizes(edit-form-width);
    position: relative;
    box-shadow: calculateRem(0px) calculateRem(4px) calculateRem(16px) rgba(34, 0, 77, 0.12);
    border-radius: calculateRem(12px);
    padding: calculateRem(32px) calculateRem(36px);
  }

  .EditForm--12 {

    &,
    .EditFormBase--field {
      width: 100%;
    }

    /* .EditFormBase--content {
      column-gap: getEditFormInSizes(edit-form-base-content-column-gap);
      @include flex(flex-start, null);
    } */
  }

  .EditForm--6 {
    width: getEditFormInSizes(edit-form-half-width);
  }

  .EditFormBase {
    position: relative;
    background-color: getEditFormInColors(edit-form-background);
    // padding: getEditFormInSizes(edit-form-padding);
    box-sizing: border-box;

    p {
      color: red
    }

    &--label {
      position: absolute;
      top: calculateRem(-23px);
      font-size: calculateRem(14px);
      font-weight: 500;
      color: color(black-river);

      &__relative {
        position: relative;
        top: 0;
      }
    }

    &--header {
      @include flex(space-between, center);
      padding: getEditFormInSizes(edit-form-header-padding);

      &-tooltip {
        margin-left: calculateRem(5px);
        margin-bottom: calculateRem(-3px);
      }

      >span {
        display: inline-block;
        width: getEditFormInSizes(edit-form-title-width);
        height: getEditFormInSizes(edit-form-title-height);
        font-size: getEditFormInSizes(edit-form-title-font-size);
        font-weight: getEditFormInSizes(edit-header-span-font-weight);
        word-break: break-all;
        @include dots-after-text();
        color: getEditFormInColors(edit-form-title-color);
      }
    }

    &--buttons {
      @include flex();
      margin: getEditFormInSizes(edit-form-buttons-margin);
      margin-left: auto;
      gap: 10px;
    }

    &__button {
      &--disabled {
        opacity: 0.2;
      }
    }

    &--content {
      @include flex($flex-wrap: wrap);
      justify-content: space-between;
      align-content: flex-start;
      box-sizing: border-box;
      padding: 0 calculateRem(16px) 0 calculateRem(16px);
      width: getEditFormInSizes(edit-form-content-width);
      min-height: getEditFormInSizes(min-height);

      s form {
        width: 100%;
      }
    }

    &--field {
      width: calc(getEditFormInSizes(edit-form-field-width) - calculateRem(12px));
      position: relative;
      margin-top: calculateRem(40px);

      &--full-width {
        width: 100%;
      }
    }

    &--field-header {
      margin: getEditFormInSizes(field-header-margin);
      height: getEditFormInSizes(field-header-height);
      font-size: getEditFormInSizes(field-header-font-size);
      font-weight: getEditFormInSizes(field-header-font-weight);
      color: getEditFormInColors(field-header-color);
      width: 100%;
    }

    &--3 {
      width: calc(33% - #{getEditFormInSizes(edit-form-field-margin)}) !important;
      min-height: calculateRem(69px);
    }

    &--2 {
      width: calc(25% - #{calculateRem(16px)}) !important;
      min-height: calculateRem(69px);
    }

    &--12 {
      width: 100%;
      // min-height: calculateRem(69px);
    }

    &--6 {
      width: calc(getEditFormInSizes(edit-form-field-width) - calculateRem(12px)) !important;
    }

    &--removeMargin {
      margin: 0;
    }

    &--inside {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}