$colors: (
  evoca: #6400dc,
  evoca-dark: #5000b0,
  evoca-n: #7433ff,
  evoca-light: #874fff,
  ev-purple: #a266ea,
  ev-illusion: #d6bbfb,
  ev-light-purple: #cda5ff,
  ev-crystal: #f9f5ff,
  ev-cream: #c199f1,
  ev-dusk: #f0e6fc,
  ev-gray: #f7f7f7,
  ev-light-gray: #f9fafb,
  error-light: #fda29b,
  error-dark: #f04438,
  carbon-blue: #38384d,
  black-river: #344054,
  satin-white: #d0d5dd,
  sambucus: #101828,
  flinstone: #667085,
  white: #fff,
  bright-gray: #eaecf0,
  yankees-blue: #1d2939,
  light-pink: #fef3f2,
  green-cyan: #ecfdf3,
  greenish-cyan: #12cb88,
  pinkish-red: #ff2340,
  magnolia: #f9f4ff,
  mint-cream: #f6fef9,
  soapstone: #fffbfa,
  bittersweet: #f97066,
  tealish-green: #32d583,
  slate-blue: #7f56d9,
  blue:#0050ef,
  maize :#FEC84B
);