@use "sass:math";
@function map-collect($maps...) {
  $collection: ();
  @each $map in $maps {
    $collection: map-merge($collection, $map);
  }
  @return $collection;
}
@function calculateRem($size) {
  $remSize: math.div($size, $rem-size);
  @return $remSize * 1rem;
}
