@mixin generate-timepicker-styles {
  .TimePickerLoopWrapper {
    position: relative;
  }

  .ScrollButton {
    display: none;

    cursor: pointer;

    background-color: rgba(#6400dc, 1);

    transition: background
      getTimePickerSizes(time-picker-buttons-hover-transition);

    &:hover {
      background-color: rgba(#6400dc, 0.8);
    }

    position: absolute;

    width: 100%;

    left: 0;
    top: 0;
    border: none;
    z-index: 1;

    border-radius: getTimePickerSizes(time-picker-content-border-radius)
      getTimePickerSizes(time-picker-content-border-radius) 0 0;
    padding: 0;

    &.ScrollButtonNext {
      bottom: 0;
      top: initial;

      svg {
        transform: rotate(180deg);
      }

      border-radius: 0 0 getTimePickerSizes(time-picker-content-border-radius)
        getTimePickerSizes(time-picker-content-border-radius);
    }
  }

  .ScrollButtonBg {
    position: absolute;

    // Used pixels here, cause it doesnt depend on layout sizes
    bottom: 1px;
    left: 5px;
    width: calc(100% - 7px);

    &.PrevScrollButtonBg {
      bottom: initial;

      top: 1px;
    }

    background-color: color(evoca-purples);

    border-radius: getTimePickerSizes(time-picker-content-border-radius);

    display: none;
  }

  .TimePickerLoopWrapper,
  .TimePickerLoopContent {
    width: getTimePickerSizes(time-picker-wrapper-width);

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    & {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }
  }

  .TimePickerLoopContent {
    height: getTimePickerSizes(time-picker-content-height);
    overflow-y: scroll;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: getTimePickerSizes(time-picker-content-border-radius);

    .TimePickerNumber {
      @include flex(center, center, $direction: column);
      font-size: getTimePickerSizes(time-picker-number-font-size);

      &.TimePickerNumberSelected {
        color: #6400dc;
      }
    }

    .SelectedTimeBg {
      content: "";
      position: absolute;
      width: 100%;

      background-color: rgba(#6400dc, 0.1);

      top: 50%;
      transform: translate(0%, -50%);

      margin-top: -(getTimePickerSizes(time-picker-selected-layer-offset));
    }

    &:hover {
      .TimePickerNumber:first-child,
      .TimePickerNumber:last-child {
        display: none;
      }

      .ScrollButton,
      .ScrollButtonBg {
        display: block;
      }
    }
  }
}
