@mixin generate-tableRow-styles {
  .TableRow {
    @include flex(null, center);
    font-weight: normal;
    position: relative;
    @include theme(border-bottom, table-row-divider-color, solid 1px);
    border: 1px solid #ede9e9;

    th,
    td {
      &:first-child {
        margin: getTableRowSizes(table-td-th-first-child-margin);
        margin-right: 0;
      }

      &:last-child {
        margin-left: 0;
        margin-right: getTableRowSizes(table-td-th-last-child-margin-right);
      }
    }

    &--loading {
      position: relative;
      overflow-x: hidden;

      &:before {
        content: "";
        position: absolute;
        overflow: hidden;
        width: 100% !important;
        height: 100%;
        animation: left-to-right 1.5s alternate infinite linear;
        @include theme(
          background,
          primary,
          "linear-gradient(to right, transparent,",
          ", transparent)" !important
        );
        opacity: getTableRowSizes(table-row-loading-opacity);
        top: 0;
        right: 0;
        left: 0;
      }

      & > * {
        @include theme(opacity, disabled-opacity);
        filter: blur(getTableRowSizes(filter-blur));
      }

      @keyframes left-to-right {
        0% {
          transform: translateX(-100%);
        }

        100% {
          transform: translateX(100%);
        }
      }
    }
  }

  .TableRow--hover,
  .TableRow--selected {
    background-color: #f9fafb;
    // @include theme(background-color, primary, $opacity: 0.1);
  }

  .TableRow--OddColor {
    background: #f9fafb !important;
  }

  .TableRow--selected {
    position: relative;
    background: #f9fafb;

    &::before {
      content: "";

      position: absolute;

      width: getTableRowSizes(table-row-selected-border-width);
      height: 100%;

      // @include theme(background, primary);
    }

    div {
      font-weight: getTableRowSizes(font-weight-selected);
      color: #444d5d;
    }
  }
}
