$tablerow-sizes: (
  font-weight-selected: 700,
  table-td-th-first-child-margin: 0 calculateRem(16px),
  table-td-th-child-two-margin-left: calculateRem(16px),
  table-td-th-last-child-margin-right: calculateRem(26px),
  table-row-selected-border-width: calculateRem(3px),
  table-row-loading-opacity: 0.1,
  filter-blur: 0.5px
);

$tablerow-colors: (
  table-row-divider-color: color(cornflower-blue)
);

@function getTableRowSizes($property) {
  @return map-get($tablerow-sizes, $property);
}
