.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  margin-top: 21px;
  margin-right: 4%;
  margin-left: 4%;
  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-around;
    gap: 2px;
    margin-top: 63px;
  }
}

.linksContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @media (min-width: 1024px) {
    flex-direction: column;
    gap: 2.5rem;
    justify-content: center;
    width: 600px;
    margin: 0;
  }
}

.storeLink {
  width: 200px;
  height: 70px;
  @media (max-width: 768px) {
    width: 164px;
    height: 53px;
  }
  @media (min-width: 1024px) {
    width: 355px;
    height: 110px;
  }
}

.textContainer {
  margin-top: -20px;
  justify-content: end;
    display: flex;
  @media (max-width: 768px) {
    margin-top: 0;
  }
  width: 100%;
  @media (min-width: 1024px) {
    width: calc(50% - 150px);
    margin: 0;
  }
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 22px;
  color: #28292c;
  @media (min-width: 1024px) {
    font-size: 35px;

  }
}

.description {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-align: center;

  color: #444095;
  @media (min-width: 1024px) {
    font-size: 25px;
    max-width: calculateRem(600px);
  }
}
