@mixin generate-monthPicker-styles {
  .DatePicker {
    .MonthPickerWrapper {
      color: color(evoca-purple);
      background-color: #fff;

      border-radius: getMonthSelectSizes(
        datePicker-month-wrapper-month-border-radius
      );
      font-size: getMonthSelectSizes(datePicker-month-font-size);
      font-weight: getMonthSelectSizes(datePicker-month-font-weight);

      height: getMonthSelectSizes(datePicker-month-height);
      width: getMonthSelectSizes(datePicker-month-width);
      bottom: getMonthSelectSizes(datePicker-month-bottom);
      left: getMonthSelectSizes(datePicker-month-left);

      z-index: getMonthSelectSizes(datePicker-z-index);

      position: absolute;
      justify-content: space-around;

      .MonthPickerWrapper__Header {
        color: color(cornflower-blue);
        width: getMonthSelectSizes(datePicker-month-header-width);
        padding-top: getMonthSelectSizes(datePicker-month-header-margin-top);

        font-size: getMonthSelectSizes(datePicker-month-header-font-size);
        font-weight: getMonthSelectSizes(datePicker-month-header-font-weight);

        text-align: center;
      }
      button {
        margin-top: getMonthSelectSizes(
          datePicker-month-header-arrow-margin-top
        );
      }
      .MonthWrapper {
        @include grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;

        margin-top: getMonthSelectSizes(
          datePicker-month-monthWrapper-margin-top
        );

        .button,
        .selectedYear {
          width: getMonthSelectSizes(datePicker-month-selected-year-width);
          height: getMonthSelectSizes(datePicker-month-wrapper-month-height);
          padding: getMonthSelectSizes(datePicker-month-wrapper-month-padding);
          margin-top: getMonthSelectSizes(datePicker-month-selected-margin-top);
          margin-bottom: getMonthSelectSizes(
            datePicker-month-selected-margin-bottom
          );

          font-size: getMonthSelectSizes(
            datePicker-month-wrapper-month-font-size
          );
          font-weight: getMonthSelectSizes(
            datePicker-month-wrapper-month-font-weight
          );

          border-radius: getMonthSelectSizes(
            datePicker-month-wrapper-month-border-radius
          );
        }

        .button {
          color: color(cornflower-blue);
          border: none;
          background: none;
          cursor: pointer;
          &:hover {
            color: #fff;
            background-color: color(evoca-purple);
          }
          @include flex(center, center);
        }
        .selectedYear {
          color: #fff;
          background-color: color(evoca-purple);
          border: none;
          cursor: pointer;
          &:hover {
            color: color(evoca-purple);
            background-color: color(evoca-purple);
          }
        }
      }
    }
  }
}
