$datepicker-month-sizes: (
  datePicker-z-index: 10000,
  datePicker-month-width: calculateRem(308px),
  datePicker-month-left: 0,
  datePicker-month-bottom: 0,
  datePicker-month-font-size: calculateRem(18px),
  datePicker-month-font-weight: 300,
  datePicker-month-height: 97.62%,
  datePicker-month-header-width: 100%,
  datePicker-month-header-margin-top: calculateRem(24px),
  datePicker-month-header-font-size: calculateRem(16px),
  datePicker-month-header-font-weight: 500,
  datePicker-month-header-arrow-margin-top: calculateRem(-12px),
  datePicker-month-wrapper-height: 77%,
  datePicker-month-wrapper-margin-top: calculateRem(50px),
  datePicker-month-wrapper-month-padding: calculateRem(0px) calculateRem(25px),
  datePicker-month-wrapper-month-height: calculateRem(42px),
  datePicker-month-wrapper-month-font-size: calculateRem(18px),
  datePicker-month-wrapper-month-font-weight: 300,
  datePicker-month-wrapper-month-border-radius: 4px,
  datePicker-month-selected-year-width: calculateRem(30px),
  datePicker-month-selected-year-margin-bottom: calculateRem(23px),
  datePicker-month-monthWrapper-margin-top: calculateRem(20px),
  datePicker-month-selected-margin-top: calculateRem(10px),
  datePicker-month-selected-margin-bottom: calculateRem(14px)
);

@function getMonthSelectSizes($property) {
  @return map-get($datepicker-month-sizes, $property);
}
