@mixin generate-radio-button-styles {
  .RadioButton {
    &,
    label {
      width: getRadioButtonSizes(radio-button-width);
      height: getRadioButtonSizes(radio-button-height);
    }

    input {
      position: absolute;
      // For not showing default input
      left: -9999px;

      &:checked + label::after {
        transform: translate(-50%, -50%) scale(0.8);
        background-color: color(evoca);
      }

      &:checked + label::before {
        border-color: color(evoca);
      }

      &:disabled + label {
        opacity: 0.5;
        &:hover {
          cursor: auto;
        }
      }
    }

    label {
      position: relative;
      display: inline-block;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        width: getRadioButtonSizes(radio-button-circle-width);
        height: getRadioButtonSizes(radio-button-circle-height);
        border-style: solid;
        border-width: getRadioButtonSizes(radio-button-border-width);
        border-radius: 100%;
        border-color: color(satin-white);
        // transform: translate(-50%, -50%);
      }

      &::after {
        content: "";
        width: 50%;
        height: 50%;
        border-radius: 100%;
        // transition: getRadioButtonSizes(radio-checked-transition);
        background-color: color(white);
        @include center-absolute();
        transform: scale(0);
      }
    }
  }

  // @each $color in $base-colors {
  //   .RadioButton--#{$color} {
  //     input {
  //       &:checked + label::before {
  //         @include theme(border-color, #{$color});
  //       }
  //     }

  //     label {
  //       &::after {
  //         @include theme(background-color, #{$color});
  //       }
  //     }
  //   }
  // }
}
