$datetimepicker-sizes: (
  time-container-width: calculateRem(84px),
  time-container-height: calculateRem(38px),
  time-container-position: calculateRem(114px),
  timepicker-button-position-bottom: calculateRem(10px),
  timepicker-button-position-right: calculateRem(14px),
  timepicker-button-font-size: calculateRem(14px),
  timepicker-button-width: calculateRem(80px),
  time-picker-wrapper-margin: calculateRem(24px) calculateRem(8px) 0 calculateRem(17px),
  react-datepicker-height: calculateRem(380px),
  react-datepicker-padding: 0 calculateRem(10px) 0 calculateRem(16px),
  react-datepicker-navigation-next-position-left: calculateRem(269px),
  react-time-input-margin: calculateRem(25px) 0 0 calculateRem(37px),
  react-time-picker-input-column: 0 calculateRem(4px) 0 calculateRem(4px),
  time-picker-base-without-time-width: calculateRem(312px),
  time-picker-base-without-time-height: calculateRem(375px),
  divider-position-bottom: calculateRem(78px),
  divider-position-left: calculateRem(24px),
  divider-position-width: 90%,
  scroll-content-margin: 0 calculateRem(4px)
);

$datetimepicker-colors: (
  divider-color: color(alabaster)
);

@function getDateTimePickerSizes($property) {
  @return map-get($datetimepicker-sizes, $property);
}
