$edited-form-sizes: (
  edited-form-width:
  /* calculateRem(475px) */
  50%,
  control-padding: 0 calculateRem(8px),
  control-width: 100%,
  control-min-height: calculateRem(42px),
  control-title-height: calculateRem(44px),
  control-title-width: calculateRem(300px),
  control-title-font-size: calculateRem(18px),
  control-title-font-weight: 600,
  content-padding: calculateRem(16px) calculateRem(16px) 0 calculateRem(16px),
  content-width: 100%,
  content-transition: 0.5s,
  option-flex: 50%,
  option-width: 50%,
  option-width--3: 25%,
  option-width--4: 33%,
  option-width--12: 100%,
  option-margin: 0 0 calculateRem(16px) 0,
  option-title-height: calculateRem(20px),
  option-title-width: calculateRem(212px),
  option-title-font-size: calculateRem(14px),
  option-title-margin: 0 0 calculateRem(4px) 0,
  option-value-height: calculateRem(46px),
  option-value-font-size: calculateRem(16px),
  option-tag-margin: calculateRem(4px) calculateRem(8px) 0 0,
  option-label-margin: 0 0 calculateRem(8px) 0,
  option-height: calculateRem(37px),
  option-line-translation-height: calculateRem(60px),
  option-value-bold: 700,
  option-label-font-weight: 700,
  edit-form-view-more-borderRadius: 0 0 calculateRem(16px) calculateRem(16px),
  edit-form-view-more-height: calculateRem(24px),
  edit-form-view-icon-width: calculateRem(24px),
  edit-form-view-icon-height: calculateRem(24px),
  edit-form-view-font-size: calculateRem(12px),
  edit-form-view-label-height: calculateRem(14px),
  edit-form-field-margin: calculateRem(12px),

);

$edited-form-colors: (
  control-title-color: color(black-color),
  option-title-color: color(black-river),
  option-value-color: color(black-color),
  border-color: color(catskill-white),
  edit-form-view-bg: color(#d0d5dd),
  edit-form-view-colors: color(black-color),
  option-label-color: color(indigo),
  tag-color: color(wild-blue-yonder),
  content-background-color: color(white)
);

@function getEditedFormSizes($key) {
  @return map-get($edited-form-sizes, $key);
}

@function getEditedFormColors($key) {
  @return map-get($edited-form-colors, $key);
}