@mixin generate-alert-styles {
  .AlertBase {
    background-color: #fff;
    @include flex(space-between, center);
    min-width: getAlertSizes(alert-width);
    width: -moz-fit-content; // for mozilla
    width: fit-content;
    height: getAlertSizes(alert-height);
    border-radius: getAlertSizes(alert-radius);
    padding: getAlertSizes(alert-padding);
    margin-bottom: getAlertSizes(alert-margin-bottom);
    box-sizing: border-box;
    padding: 0rem calculateRem(10px);

    // Change the color
    box-shadow: 2px 2px 5px 0 color(evoca);

    .AlertText {
      color: color(black-river);
      margin-left: getAlertSizes(alert-text-marginLeft);
      font-size: calculateRem(14px);
    }
  }

  .AlertContainer {
    position: fixed;
    top: getAlertSizes(alert-animation-position);
    right: getAlertSizes(alert-animation-position);
    z-index: getAlertSizes(alert-container-z-index);
    // svg {
    //   width: getAlertSizes(alert-container-pop-up-svg-width);
    //   position: relative;
    //   top: 0;
    //   left: getAlertSizes(alert-container-pop-up-svg-left);
    // }
  }

  .AlertEnter,
  .AlertEnterActive {
    animation: showAlert getAlertSizes(alert-animation) ease forwards;
  }

  .AlertExit,
  .AlertExitActive {
    animation: hideAlert getAlertSizes(alert-animation) ease forwards;
  }

  @keyframes hideAlert {
    40% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(-10%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes showAlert {
    0% {
      transform: translateX(100%);
    }
    40% {
      transform: translateX(-10%);
    }
    80% {
      transform: translateX(0%);
    }
  }

  .AlertSymbol {
    svg {
      width: getAlertSizes(alert-icon-pop-up-width) !important;
    }
  }

  .AlertClose {
    cursor: pointer;
    margin-left: getAlertSizes(alert-close-marginLeft);
    ///
    fill: color(black-river);
    &--PopUp {
      width: getAlertSizes(alert-close-width);
    }
  }

  .AlertIcon {
    display: block;
    width: getAlertSizes(alert-icon-width) !important;
    font-size: 0 !important;
    &--Check {
      transform: translate(-3px, 0);
    }
    &--Warning {
      transform: translate(-4px, 0px);
    }
    &--Error {
      transform: translate(-3px, 0);
    }
    &--Info {
      transform: translate(-3px, 0);
    }
  }
}
