$alert-sizes: (
  alert-width: calculateRem(252px),
  alert-height: calculateRem(42px),
  alert-radius: 4px,
  alert-padding: calculateRem(9px) calculateRem(6px) calculateRem(9px)
    calculateRem(12px),
  alert-margin-bottom: calculateRem(10px),
  alert-text-marginLeft: calculateRem(10px),
  alert-close-marginLeft: calculateRem(20px),
  alert-close-width: calculateRem(20px),
  alert-animation-position: calculateRem(10px),
  alert-container-z-index: 9999999,
  alert-animation: 1s,
  alert-container-svg-width: calculateRem(17px),
  alert-container-pop-up-svg-width: calculateRem(17px),
  alert-container-pop-up-svg-left: calculateRem(-3px),
  alert-icon-width: calculateRem(17px),
  alert-icon-pop-up-width: calculateRem(17px),
);

$alert-colors: (
  alert-background-color: color(white),
);

@function getAlertSizes($property) {
  @return map-get($alert-sizes, $property);
}
