$table-sizes: (
  table-scroll-border-radius: 16px,
  table-head-row-height: calculateRem(55px),
  table-body-row-height: calculateRem(51px),
  table-body-min-height: calculateRem(350px),
  table-action-cell-width: calculateRem(140px),
  table-with-selection-width: calculateRem(18px),
  // table-head-z-index: 100,
  table-head-z-index: 1,
  table-head-tr-z-index: 10,
  table-conatiner-tr-z-index: 1,
  table-conatiner-tr-ready-opacity: 1,
  last-table-cell-margin: calculateRem(26px),
  last-table-cell-opacity: 1,
  table-no-result: calculateRem(440px),
  table-loader-max-width: calculateRem(1905px),
  // Illustrations
  illustration-wrapper-width: calculateRem(209.74px),
  illustration-wrapper-height: calculateRem(135.83px),
  illustration-wrapper-min-height: calculateRem(320px),
  illustration-wrapper-margin: calculateRem(60px),
  illustration-text-width: calculateRem(251px),
  illustration-text-margin-top: calculateRem(24px),
  illustration-text-letter-spacing: calculateRem(1.4px),
  // Actions
  action-table-cell-height: calculateRem(50px),
  action-table-cell-right: calculateRem(5px),
  action-table-cell-min-width: calculateRem(105px),
  action-table-cell-padding-right: calculateRem(20px),
  action-table-cell-transform: translate(10px, -51%),
  // DnD
  dnd-draggable-margin-left: calculateRem(-10px),
  // Table Footer
  table-footer-cell-height: calculateRem(20px),
  table-footer-empty-height: calculateRem(3px),
  table-footer-empty-blur: 3px,
  table-footer-generate-width: calculateRem(24px),
  table-footer-generate-position-right: calculateRem(10px),
  table-footer-generate-transform-x: calculateRem(-5px),
  table-footer-generate-container-width: calculateRem(21px),
  table-footer-empty-max-width: calculateRem(100px),
  table-footer-generate-container-height: calculateRem(16px),
  // Resizing
  table-resizing-width: calculateRem(6px),
  table-resizing-separator-width: 2px,
  table-resizing-separator-margin: calculateRem(2px),
  table-resizing-height: calculateRem(14px)
);

$table-colors: (
  action-table-cell-bg-color: color(white-lilac),
  backdground-color-table-head: color(white),
  //
  action-table-cell-bg-color2: color(white-lilac),
  // resizing
  table-resizing-color: color(nepal)
);

@function getTableSizes($property) {
  @return map-get($table-sizes, $property);
}

@function getTableColors($key) {
  @return map-get($table-colors, $key);
}