$provider-in-sizes: (
  provider-wrapper: calculateRem(728px),
  provider-container: calculateRem(584px),
  provider-container-wrapper: calculateRem(40px),
  provider-card-padding: 0 calculateRem(70px) calculateRem(20px) calculateRem(70px),
  provider-card-min-height: calculateRem(540px),
  provider-title-fontWeight: 700,
  provider-title-align: center,
  // provider-title-padding: calculateRem(15px),
  provider-title-padding-top: calculateRem(20px),
  provider-form-groupMarginRigth: calculateRem(24px),
  provider-form-marginBottom: calculateRem(18px),
  provider-form: calculateRem(280px),
  provider-form-flex-grow: 1,
  provider-form-small: calculateRem(184px),
  provider-form-groupMarginRigth-small: calculateRem(16px),
  provider-form-height: calculateRem(60px),
  provider-button-marginTop: calculateRem(75px),
  provider-button-closeMargin: calculateRem(16px),
  provider-column-gap: calculateRem(20px),
  provider-field-margin-bottom: calculateRem(2px),
  provider-col-4-width: calculateRem(182px),
  provider-col-6-width: calculateRem(284px),
  provider-back-button-border: 1px,
  provider-back-button-padding: calculateRem(7px),
  provider-button-group-margin-top: auto,
  // provider-button-group-margin-top: calculateRem(84px),
  provider-back-button-border-radius: 100%,
  //
  provider-button-group-width: calculateRem(1.5px),
  provider-button-group-svg-width: calculateRem(14px)
);

$provider-in-colors: (
  provider-background-color: color(white),
  provider-back-button-border-color: color(nepal),
  close-button-border-color: color(nepal),
  close-button-color: color(nepal)
);

@function getProviderColors($key) {
  @return map-get($provider-in-colors, $key);
}

@function getProviderSizes($key) {
  @return map-get($provider-in-sizes, $key);
}
