.footer {
    background-color: #9c28b2;
    height: 163px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
  }
  
  @media (min-width: 1024px) {
    .footer {
      height: 288px;
    }
  }
  
  .container {
    width: 100%;
    max-width: 50%;
    text-align: center;
  }
  
  @media (min-width: 1024px) {
    .container {
      width: 33.33%;
    }
  }
  
  .iconWrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .icon {
    width: 52px;
    height: 52px;
  }
  
  @media (min-width: 640px) {
    .icon {
      width: 47px;
      height: 47px;
    }
  }
  
  @media (min-width: 1024px) {
    .icon {
      width: 61px;
      height: 61px;
    }
  }
  
  .divider {
    margin: 10px auto;
    width: 80%;
  }
  
  .text {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
  }
  
  @media (min-width: 1024px) {
    .text {
      font-size: 22px;
    }
  }
  
  .link {
    text-decoration: underline;
    color: white;
  }
  