@mixin generate-tab-styles {
  .Tab {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    background-color: color(white);
    border-bottom: 2px solid color(bright-gray);

    &,
    .TabContent {
      min-height: getTabSizes(tab-container-heigth);
    }

    .TabContent {
      @include flex(null, center);
      height: 100%;

      .TabButton {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        @include theme(color, color(evoca));
        flex-grow: 1;
        z-index: 2;
        box-sizing: border-box;
        max-width: getTabSizes(tab-button-bg-width);
        padding: getTabSizes(tab-button-padding);
        @include dots-after-text;
        padding-bottom: calculateRem(11px);

        &.Active {
          font-weight: getTabSizes(tab-button-active-font-weight);

          >span {
            display: inline-block;
            color: color(evoca) !important;
          }
        }
      }
    }

    .TabButtonBg {
      position: absolute;
      top: getTabSizes(tab-button-bg-position);
      max-width: getTabSizes(tab-button-bg-width);
      height: getTabSizes(tab-button-bg-height);
      @include theme(background-color, color(evoca));
      z-index: 1;
      border-radius: getTabSizes(tab-button-bg-border-radius);
      box-sizing: border-box;
      transition: all getTabSizes(tab-active-transition) cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    }

    &--bordered {
      &.Tab {
        background-color: initial;

        .TabButtonBg {
          background-color: initial;
          border-radius: 0;
          border-bottom: 2px solid color(evoca);
          transition: all 0.5s;
        }
      }
    }

    .TabButtonLabel {
      font-weight: 600;
      font-size: calculateRem(14px);
      line-height: calculateRem(20px);
      color: color(flinstone);
    }
  }
}