@mixin generate-yearsPicker-styles {
  .DatePicker {
    .CurrentMonth:hover,
    .CurrentYear:hover {
      cursor: pointer;
    }

    .YearPickerWrapper {
      color: color(evoca-purple);
      background-color: #fff;

      border-radius: getYearSelectSizes(datePicker-year-button-border-radius);

      width: getYearSelectSizes(datePicker-year-wrapper-width);
      left: getYearSelectSizes(datePicker-year-wrapper-left);
      height: getYearSelectSizes(datePicker-year-wrapper-height);
      bottom: getYearSelectSizes(datePicker-year-wrapper-bottom);

      font-size: getYearSelectSizes(datePicker-year-wrapper-font-size);
      font-weight: getYearSelectSizes(datePicker-year-wrapper-font-weight);

      z-index: getYearSelectSizes(datePicker-year-wrapper-z-index);

      position: absolute;
      justify-content: space-around;
      .MonthPickerWrapper__Header {
        color: color(cornflower-blue);

        width: getYearSelectSizes(datePicker-year-header-width);
        margin-top: getYearSelectSizes(datePicker-year-header-margin-top);

        font-size: getYearSelectSizes(datePicker-year-header-font-size);
        font-weight: getYearSelectSizes(datePicker-year-header-font-weight);
        text-align: center;
      }
      .YearHeader button {
        margin-top: getYearSelectSizes(
          datePicker-year-header-button-margin-top
        );
      }
      .YearsWrapper {
        @include grid;
        grid-template-columns: auto auto auto;
        justify-content: space-evenly;

        margin-top: getYearSelectSizes(datePicker-year-yearWrapper-margin-top);

        .selectedYear,
        .buttonDisabled,
        .button {
          font-size: getYearSelectSizes(datePicker-year-button-font-size);
          font-weight: getYearSelectSizes(datePicker-year-button-font-weight);

          padding: getYearSelectSizes(datePicker-year-button-padding);
          margin-bottom: getYearSelectSizes(
            datePicker-year-button-all-margin-bottom
          );
          height: getYearSelectSizes(datePicker-year-button-height);
          width: getYearSelectSizes(datePicker-year-button-width);

          border-radius: getYearSelectSizes(
            datePicker-year-button-border-radius
          );
          border: none;

          background: none;
        }

        .button {
          cursor: pointer;

          color: color(cornflower-blue);
          &:hover {
            color: #fff;
            background-color: color(evoca-purple);
          }
          @include flex(center, center);
        }

        .buttonDisabled {
          color: color(cornflower-blue);
          opacity: 0.1;

          cursor: auto;
          &:hover {
            color: color(cornflower-blue);
            background-color: color(evoca-purple);
            opacity: 0.3;

            background: none;
          }
        }
        .selectedYear {
          color: #fff;
          background-color: color(evoca-purple);

          cursor: pointer;
          &:hover {
            color: #fff;
            background-color: color(evoca-purple);
          }
        }
      }
    }
  }
}
