$datepicker-year-sizes: (
  datepicker-margin-top: calculateRem(8px),
  datepicker-z-index: 1000,
  datepicker-box-shadow: calculateRem(3px) calculateRem(3px) calculateRem(6px) calculateRem(0px),
  input-container-width: calculateRem(298px),
  input-container-padding: calculateRem(8px),
  input-height: calculateRem(38px),
  input-border-radius: calculateRem(3.5px),
  datepicker-icon-margin: calculateRem(12px),
  day-range--borderRadius: calculateRem(5px),
  datepicker-month--container: calculateRem(308.5px),
  datepicker-month--size: calculateRem(18px),
  datepicker-current--month: calculateRem(22px),
  datepicker-navigation--nextSize: calculateRem(6px),
  datepicker-navigation--nextSize-height: calculateRem(12px),
  datepicker-navigation--nextSize-top: calculateRem(36px),
  datepicker-navigation--nextMargin: calculateRem(25px),
  datepicker-navigation--leftMargin: calculateRem(25px),
  datepicker-month-container--leftMargin: calculateRem(25px),
  datepicker-day--names: calculateRem(298.9px),
  datepicker-day: calculateRem(42.7px),
  datepicker-day--name: calculateRem(10px),
  datepicker-dayWidth: calculateRem(42.7px),
  datepicker-dayHeight: calculateRem(39.7px),
  datepicker-day--namesPadding: calculateRem(24px),
  datepicker-day--nameWidth: calculateRem(19.4px),
  datepicker-day--nameMargin: calculateRem(17px),
  datepicker-day--namePadding: calculateRem(36.7px),
  datepicker-month-container--borderRadius: calculateRem(4px),
  datepicker-padding: calculateRem(6.5px) calculateRem(16px) calculateRem(14px),
  datepicker-month-title-font-size: calculateRem(16px),
  datepicker-month-title-padding: calculateRem(17.5px) calculateRem(0px) calculateRem(24px) calculateRem(0px),
  datepicker-week-font-size: calculateRem(13px),
  datepicker-day-width: calculateRem(40px),
  datepicker-day-padding: calculateRem(10px) calculateRem(0px),
  //
  datePicker-year-wrapper-width: calculateRem(308px),
  datePicker-year-wrapper-left: 0,
  datePicker-year-wrapper-font-size: calculateRem(18px),
  datePicker-year-wrapper-font-weight: 300,
  datePicker-year-wrapper-height: 97.62%,
  datePicker-year-wrapper-bottom: 0,
  datePicker-year-wrapper-z-index: 10000,
  datePicker-year-header-width: 100%,
  datePicker-year-header-margin-top: calculateRem(24px),
  datePicker-year-header-font-size: calculateRem(16px),
  datePicker-year-header-font-weight: 500,
  datePicker-year-header-button-margin-top: calculateRem(-10px),
  datePicker-year-wrapper-margin-top: calculateRem(51px),
  datePicker-year-button-padding: calculateRem(10px) calculateRem(25px),
  datePicker-year-button-font-size: calculateRem(18px),
  datePicker-year-button-font-weight: 300,
  datePicker-year-button-height: calculateRem(42px),
  datePicker-year-button-width: calculateRem(80px),
  datePicker-year-button-border-radius: calculateRem(4px),
  datePicker-year-button-margin-bottom: calculateRem(22px),
  datePicker-year-yearWrapper-margin-top: calculateRem(20px),
  datePicker-year-button-all-margin-bottom: calculateRem(28px)
);

@function getYearSelectSizes($property) {
  @return map-get($datepicker-year-sizes, $property);
}
