@mixin generate-datepicker-styles {
  .DatePicker {
    :global {
      z-index: 9999;

      .react-datepicker {
        background-color: #fff;
        box-shadow: 3px 3px 6px 0 color(evoca-light);
        @include flex;
        position: relative;

        padding-bottom: getDatePickerSizes(datePicker-wrapper-padding-bottom);
        padding: getDatePickerSizes(datePicker-padding);
        // @include theme(box-shadow, box-shadow-color, 3px 3px 6px 0);
        min-width: getDatePickerSizes(datePicker-wrapper-width);
        min-height: getDatePickerSizes(datePicker-wrapper-min-heigh);
        height: getDatePickerSizes(datePicker-month-container-min-height);

        &__navigation-icon--previous,
        &-time__caption,
        &__navigation-icon--next {
          display: none;
        }

        &__navigation--next,
        &__navigation--previous {
          position: absolute;
          top: getDatePickerSizes(datepicker-navigation-top);
          width: getDatePickerSizes(datepicker-navigation-width);

          &,
          svg {
            height: getDatePickerSizes(datepicker-navigation-height);
          }

          cursor: pointer;
          border: none;
          background: none;

          z-index: getBaseSizes(z-index);
        }

        &__navigation--next {
          right: getDatePickerSizes(datepicker-navigation--nextMargin);

          &:hover {
            color: #6400DC;
          }
        }

        &__navigation--previous {
          left: getDatePickerSizes(datepicker-navigation--leftMargin);

          transform: rotate(180deg);

          &:hover {
            color: #6400DC;
          }
        }

        &__day--range-start,
        &__day--range-end {
          color: #fff;
          background-color: #6400DC;
        }

        &__day--in-range {
          background-color: rgba(#6400DC, 0.1); //aaaa
          color: #6400DC;
        }

        &__day--selecting-range-start {
          background-color: #6400DC;
        }

        &__day--in-selecting-range {
          background-color: rgba(#6400DC, 0.1); //aaaa
          color: #6400DC;
        }

        &__current-month {
          color: color(cornflower-blue);
          margin: getDatePickerSizes(datePicker-month-title-padding);
          font-size: getDatePickerSizes(datePicker-month-title-font-size);
          text-align: center;
          font-weight: 500;
        }

        &__navigation &__navigation--previous {
          position: absolute;

          cursor: pointer;
          visibility: hidden;
        }

        &__day-names {
          color: #6400DC;
          @include flex(space-around, null);
          font-size: getDatePickerSizes(datePicker-day--name);
          margin-bottom: getDatePickerSizes(datePicker-week-font-size);
          text-transform: uppercase;

          div {
            @include flex(center, null);
            font-size: getDatePickerSizes(datePicker-week-name-font-size);
            min-width: getDatePickerSizes(datePicker-week-name-min-width);
          }
        }

        &__week:first-child {
          margin-top: getDatePickerSizes(datePicker-last-week-margin-top);
        }

        &__week {
          color: color(cornflower-blue);
          @include flex(space-around, null);
          margin-top: getDatePickerSizes(datePicker-navigation--nextSize);
          margin-bottom: getDatePickerSizes(datePicker-weeks-margin-bottom);
          height: getDatePickerSizes(datePicker-days-height);
          font-size: getDatePickerSizes(datePicker-month--size);

          div {
            min-width: getDatePickerSizes(datePicker-day-width);
            // padding: getDatePickerSizes(datePicker-day-padding);
            height: getDatePickerSizes(datePicker-day-height);
            @include flex(center, center);
            cursor: pointer;
            text-align: center;
          }

          .react-datepicker__day:hover,
          .react-datepicker__day--selected {
            color: #fff;
            background-color: #6400DC;
            border-radius: getDatePickerSizes(datePicker-month-container--borderRadius);
          }
        }

        &__day--today {
          @include generateBorderWithBoxShadow(evoca-purple, 1px);
          color: #6400DC;

          border-radius: getDatePickerSizes(datePicker-month-container--borderRadius);
          margin: getDatePickerSizes(datePicker-current-day-margin);
        }

        &__day--outside-month {
          color: rgba(#6400DC, 0.5);
          // @include theme(color, datepicker-day-color, $opacity: 0.5);
        }

        &__day--selecting-range-end {
          border-radius: getDatePickerSizes(datePicker-selected-in-range-end);
        }

        &__day--selecting-range-start,
        &__day--range-start,
        &__day--range-end,
        &__day:hover {
          color: #fff;
          background-color: #6400DC;

          border-radius: getDatePickerSizes(datePicker-selected-in-range-start);
          opacity: 1;
        }

        &__day--range-start {
          border-radius: getDatePickerSizes(datePicker-selected-in-range-start);
        }

        &__day--range-end {
          border-radius: getDatePickerSizes(datePicker-selected-in-range-end);
        }
      }

      .react-datepicker__day.react-datepicker__day--range-end.react-datepicker__day--outside-month,
      .react-datepicker__day.react-datepicker__day--range-start.react-datepicker__day--outside-month,
      .react-datepicker__day.react-datepicker__day--disabled {
        color: rgba(#6400DC, 0.5);

        // @include theme(color, datepicker-day-color, $opacity: 0.5);
        &:hover {
          color: #6400DC;
          background-color: #6400DC;
        }
      }

      .react-datepicker__day.react-datepicker__day--in-range.react-datepicker__day--outside-month,
      .react-datepicker__day.react-datepicker__day--in-selecting-range.react-datepicker__day--outside-month {
        background: none;
      }

      .react-datepicker__day.react-datepicker__day--today.react-datepicker__day--outside-month {
        border: none;
      }

      .react-datepicker__day.react-datepicker__day--in-selecting-range.react-datepicker__day--outside-month:hover {
        background: none;
        color: rgba(#6400DC, 0.5);
        // @include theme(color, datepicker-day-color, $opacity: 0.5);
      }

      .react-datepicker__day.react-datepicker__day--outside-month:hover,
      .react-datepicker__day.react-datepicker__day--disabled:hover {
        color: #6400DC;
        background-color: rgba(#6400DC, 0.1);
        color: #6400DC;
      }
    }

    &--withTwoMonths {
      :global {
        .react-datepicker {
          min-width: getDatePickerSizes(datePicker-wrapper-two-month-min-width);
        }

        .react-datepicker__month-container:last-child {
          margin-left: getDatePickerSizes(datePicker-month-container--leftMargin);
        }
      }
    }
  }
}