@mixin generate-tableCell-styles {
  .TableCell {
    @include flex(null, center);
    @include theme(color, black-color);
    width: getTableCellSizes(table-cell-width);
    background-color: transparent;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: getTableCellSizes(table-cell-font-size);
    font-weight: getTableCellSizes(table-cell-font-weight-selected);
    font-weight: getTableCellSizes(table-cell-font-weight);
    text-align: left;
    margin: 0 auto;
    padding: getTableCellSizes(table-cell-padding);
    &:last-child {
      border-bottom: none;
    }

    div {
      max-width: 100%;
      @include dots-after-text;

      img {
        width: getTableCellSizes(table-cell-img-sizes);
        height: getTableCellSizes(table-cell-img-sizes);
      }
    }

    .TableCell--center {
      justify-content: center;
    }
    .TableCell--left {
      justify-content: start;
    }
    .TableCell--right {
      justify-content: flex-end;
    }
  }
}
