$icon-button-sizes: (
  icon-button-width: calculateRem(40px),
  icon-button-height: calculateRem(40px),
  icon-button-icon-width: calculateRem(16px),
  icon-button-icon-height: calculateRem(14px),
  icon-button-hover-opacity: 0.1,
  light-border-size: calculateRem(1px)
);

@function getIconButtonSizes($property) {
  @return map-get($icon-button-sizes, $property);
}

$icon-button-colors: ();
